* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    min-height: 100vh;
    margin: 0;
    background: 
        url("bgpattern.png") repeat,
        linear-gradient(to bottom, #45B6CC , #97CFC1);
    background-size: auto, cover;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #383636;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
}

.wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

main {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
}

.header-container {
    position: relative;
    width: 100vw;
    height: auto;
    left: 0;
}

.header-bar {
    position: absolute;
    width: 100vw;
    height: 30px;
    top: -12px;
    background-color: #F5F5F5;
    z-index:-1;
    left: 0;
}

.header-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
}

header {
    color: #383636;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif
}

h1, h2, h3 {
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
    color: #383636;
}

h1 {
    font-size: 1.5em;
    text-align: left;
}

h2 {
    font-size: 1em;
    text-align: left;
}

footer {
    color: #383636;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
    margin-top: auto;
}

footer a {
    text-decoration: underline;
}

footer a:link, footer a:visited {
    color: #383636;
}

.form-container {
    background: #F5F5F5;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px; 
    margin: 20px auto;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

form {
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
    margin: 0;
}

form table {
    width: 100%;
    border-collapse: collapse;
}

form label {
    font-weight: normal;
    color: #383636;
    font-size: 16px;
}

form table th {
    text-align: left;
    font-weight: normal;
    background-color: #f5f5f5;
}

form table td {
    padding: 10px;
}

form button {
    padding: 10px 20px;
    width: 200px;
    margin-top: 15px;
    background-color: #45b6cc;
    color: #383636;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
}

form button:hover {
    background-color: #97cfc1;
}

form table tr:nth-child(odd) {
    background-color: #f5f5f5;
}

form table tr:nth-child(even) {
    background-color: #f5f5f5;
}

p {
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
    color: #383636;
}

.text-container {
    padding: 25px;
    width: 470px;
    height: 90px;
    margin: 20px auto;
    margin-bottom: 20px;
    color: #383636;
    font-size: 18px;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
}

.image-top-right {
    position: absolute;
    top: -14px;
    right: 20px;
    width: auto; 
    height: auto;
    z-index: 1;
}

.image-top-left {
    position: absolute;
    top: -14px;
    left: 20px;
    width: auto; 
    height: auto;
    z-index: 1;
}

.text-name-left {
    color: #383636;
    position: absolute;
    top: -57px;
    left: 220px;
    color: #383636;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
}

.text-logout-right {
    color: #383636;
    position: absolute;
    top: -13px;
    right: 20px;
    color: #383636;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
    transition: color 0.2s ease;
}

.text-logout-right:hover {
    color: #fcf5e3;
}

.table-wrapper {
    position: relative;
    width: 100%;
    margin: 20px auto;
}

.table-container {
    background: #F5F5F5;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    max-height: 700px;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin: auto;
    border-style: none;
    max-width: 100%;
    min-width: 100%;
    font-size: 0.8em;
    border-collapse: collapse;
    max-height: 350px;
    overflow-y: auto;
    display: block;
}

th, td {
    padding: 10px;
    text-align: center;
    width: auto;
}

th {
    background: #45B6CC;
    color: #F5F5F5;
    font-size: larger;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

tbody tr:nth-child(odd) {
    background-color: #F5F5F5;
}

td {
    color: #383636;
    text-align: center;
    width: auto;
}


.hori-button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
}

.verti-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

.button {
    padding: 10px 20px;
    width: auto;
    background-color: #97cfc1;
    color: #383636;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
}

.button:hover {
    background-color: #45b6cc;
}

.button-add {
    padding: 10px 20px;
    width: 100px;
    background-color: #45B6CC;
    color: #f5f5f5;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
}

.button-add:hover {
    background-color: #a3d39c;
    color: #383636;
}

.button-remove {
    padding: 10px 20px;
    width: 100px;
    background-color: #45B6CC;
    color: #f5f5f5;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans MT', 'Gill Sans', "Arial", sans-serif;
}

.button-remove:hover {
    background-color: #f69679;
    color: #383636;
}